* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body {
    background-color: #EBEEF3;
    font-family: "Raleway", sans-serif;
    height: 100vh;
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

input {
    height: 100%;
    padding: 0 .5rem;
    width: 90%;
}
i {
    color: white;
}
hr {
    border: #EBEEF3;
    background-color: #EBEEF3;
    height: 1px;
}
h3 {
    font-weight: 500;
}
h1 {
    font-size: 1.7rem;
    font-weight: 600;
}
h1 small {
    font-size: 1.3rem;
    color: #9D9D9D;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
button:focus {
    outline: none;
}
.wrap {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.border-r {
    border-radius: 3px;
}
.card {
    border-top: 3px solid #6193c5;
    background-color: white;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}
.navbar {
    width: 100% !important;
    position: fixed;
    top: 0px;
    background-color: #6193c5;
    margin: 0;
    padding: 0;
    height: 65px;
    overflow: hidden;
    color: white;
}
.navbar .btn-icon {
    background-color: #6193c5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left: 9px;
    padding-top: 6px;
    display: block;

}
.navbar .btn-icon:hover {
    background-color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.show-sidebar {
    display: block !important;
}
.sidebar {
    float: left;
    position: fixed;
    width: 50%;
    display: none;
    background-color: #9D9D9D;
}
.sidebar .title-page {
    height: 65px;
    background-color: #6193c5;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: none !important;
}
.sidebar .title-page span {
    font-weight: 300;
}
.sidebar ul {
    list-style-type: none;
    width: 50%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    background-color: #EBEEF3;
    z-index: 2;
}
.sidebar ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: black;
    font-weight: 400;
    font-size: 16px;
    font-family: auto;

}
.sidebar ul li:hover {
    background-color: #6193c5;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    color: #ffffff; 
}
.sidebar ul li a:hover{
    color: #ffffff;
}
.sidebar ul .active,
.active>a {
    background-color: #6193c5;
    color: #fff !important;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
    list-style-type: none;
}

.main-nav li:hover{
    border-bottom: 6px solid aliceblue;
    line-height: 4rem;

}
.nav-link{
    font-weight: 600;
}
.nav-link,
.logo {
    text-decoration: none;
    color: aliceblue;
    line-height: 24px;
}

.nav-link:hover,
.logo:hover {
    color: aliceblue !important;
}

.nav-link {
    padding: 10px 20px;
}
.nav-link{
    font-weight: 600;
}
.nav-link,
.logo {
    text-decoration: none;
    color: aliceblue;
    line-height: 24px;
}

.nav-link:hover,
.logo:hover {
    color: aliceblue !important;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;

}

.input-group i, .g-item i {
    font-size: 1rem;
}
.input-group {
    border-radius: 3px;
    padding: 0;
    width: 100%; 
    height: 40px;
}
.search {
    display: flex;
    /*padding: 10px;*/
}
.search-form {
    margin-right: auto;
    flex-basis: 70%;
}
.filter-select {
    width: 60vw;
}

.pagination, .p-item {
    border: none;
    color: black;
    background-color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    float: left;
    overflow: hidden;
    border: 0.1px solid #9D9D9D;
}
.pagination .active, .p-item .active {
    background-color: #6193c5;
    color: white;
}
.pagination a, .p-item a {
    font-size: .8rem;
    font-weight: 300;
    border: 0.1px solid #9D9D9D;
}
.pagination i, .p-item i {
    color: black;
}
.pagination {
    border-radius: 3px;
    padding: 0;
}
.table-container {
    overflow-x: auto;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}
table thead tr, table tbody tr {
    height: 2.5rem;
    padding: 1rem;
    border-bottom: 1px solid #EBEEF3;
}
table tbody tr:hover {
    background: #6193c5;
    color: white;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
table thead tr td, table thead tr th, table tbody tr td, table tbody tr th {
    border-bottom: 1px solid #EBEEF3;
    text-align: left;
    padding: .8rem;
}
.bar {
    width: 21px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}
.arrow-next{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-prev{
    transform: rotate(45deg);
    -webkit-transform: rotate(134deg);

}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-office {
    font-size: .6em;
    height: 40px;
    padding-top: 14px
}
.profile-image {
    border-radius: 50%;
}

.result-title {
    font-size: 1.5rem !important;
    text-align: center !important;
}
.admin-form {
    padding: 10px;
    margin: 10px 20px;
    width: 80% !important;
}
.btn-filter {
  font-size: 1rem;
  padding: 0.8rem;
  margin: 10px 0;
  height: 2.8rem;
}

.add-party {
  line-height: 20px;
}

.logo-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge-success {
  background-color: #55A854;
  border-radius: 10px;
  padding: 2px 5px;
  color: aliceblue;
}

.badge-primary {
  background-color: #23B4F3;
  opacity: 0.5;
  border-radius: 10px;
  padding: 2px 5px;
  color: aliceblue;
}

.badge-danger {
  background-color: #F14340;
  border-radius: 10px;
  padding: 2px 5px;
  color: aliceblue;
}

.alert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.petition-details {
  color: #828282;
  text-align: left;
 
}
.evidence-image, .petition-content {
  padding: 20px;
}
.evidence-image{
  width: 100%;
  display: flex;
  justify-content: center;
}
.evidence-image >img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.petition-content p {
  padding: 0.4rem;
  line-height: 1.4;
  word-spacing: 0.1rem;
}

.petition-content hr {
  border: 1px solid #23B4F3;
  width: 10%;
  margin-top: 5px;
}
.petition-content hr:first-of-type {
  width: 8%;
}
.petition-content hr:last-of-type {
  width: 20%;
}
.note {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: 3em;
  white-space: nowrap;

}
