.h-nav {
  grid-area: header;
}
.v-nav {
  grid-area: sidebar;
}

.body-container {
  grid-area: main;
}
.footer-conatiner {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'sidebar main main main right right'
    'sidebar footer footer footer footer footer';
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}