
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.front-navbar {
	position: fixed;
	top: 0;
    background-color: #6193c5;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.front-main-nav {
    list-style-type: none;
    display: none;
    padding-left: 0;
}


/*.logo>img,
.logo {
	border-radius: 50%;
}*/

.nav-link{
	font-weight: 600;
}
.nav-link,
.logo {
    text-decoration: none;
    color: aliceblue;
    line-height: 24px;
}

.nav-link:hover,
.logo:hover {
	color: aliceblue !important;
}
.front-main-nav li {
    text-align: center;
    margin: 15px auto;
}

.front-main-nav li:hover{
	border-bottom: 6px solid aliceblue;
	line-height: 4rem;

}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
	font-weight: 700;

}

.front-navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: aliceblue;
     
}

.front-navbar-toggle:hover{
	background-color: #6193c5;
	color: white;
	-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar-toggle {
	background-color: #6193c5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left: 9px;
    padding-top: 6px;
}
.navbar-toggle:hover {
    background-color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

 .bar {
    width: 21px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}


.show {
    display: block;
}

.active{
	border-bottom: 6px solid aliceblue;
	line-height: 4rem;

}
#header{
    height: 100vh;
    color: aliceblue;
    background: #7C909E;
}

#header p {
    text-align: center;

}
.h-text {
    text-align: center;
    font-weight: 900;
}


#get-started{

	width: 120px;
    margin: 50px 10px 0 0;
}

 @media screen and (min-width: 768px) {
    .front-navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .front-main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 0;
    }

    .front-main-nav li {
        margin: 0;
        padding: 0;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .logo {
        margin-top: 0;
        padding: 0;
    }

    .front-navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-link:hover {
        color: #6193c5;
    }

    #header {
      font-size: 36px;
    }


     .form-wrap {
        width: 400px;
    }
   
    .form__title{
        
        margin-top: 60px;
    }
}

footer{
	
	background-color: #4f4f4f;

	position: relative;
	bottom: 0;
	min-height: 100px;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

#header {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.form__title{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

label{
    font-weight: 700;
}

@media screen and (max-width: 375px) {
    
    .form__title{
        font-size: 24px;
        font-weight: 700;
    }
    .sign__up__form__container{
        margin-top: 0;
    }
    .wrapper{
        padding-top: 0;
    }
}