.f-1{
  font-size: 1px;
}
.f-2{
  font-size: 2px;
}
.f-3{
  font-size: 3px;
}
.f-4{
  font-size: 4px;
}
.f-5{
  font-size: 5px;
}
.f-6{
  font-size: 6px;
}
.f-7{
  font-size: 7px;
}
.f-8{
  font-size: 8px;
}
.f-9{
  font-size: 9px;
}
.f-10{
  font-size: 10px;
}
.f-11{
  font-size: 11px;
}
.f-12{
  font-size: 12px;
}
.f-13{
  font-size: 13px;
}
.f-14{
  font-size: 14px;
}
.f-15{
  font-size: 15px;
}
.f-16{
  font-size: 16px;
}
.f-17{
  font-size: 17px;
}
.f-18{
  font-size: 18px;
}
.f-19{
  font-size: 19px;
}
.f-20{
  font-size: 20px;
}
.f-21{
  font-size: 21px;
}
.f-22{
  font-size: 22px;
}
.f-23{
  font-size: 23px;
}
.f-24{
  font-size: 24px;
}
.f-25{
  font-size: 25px;
}
.f-26{
  font-size: 26px;
}
.f-27{
  font-size: 27px;
}
.f-28{
  font-size: 28px;
}
.f-29{
  font-size: 29px;
}
.f-30{
  font-size: 30px;
}
.f-31{
  font-size: 31px;
}
.f-32{
  font-size: 32px;
}
.f-33{
  font-size: 33px;
}
.f-34{
  font-size: 34px;
}
.f-35{
  font-size: 35px;
}
.f-36{
  font-size: 36px;
}
.f-37{
  font-size: 37px;
}
.f-38{
  font-size: 38px;
}
.f-39{
  font-size: 39px;
}
.f-40{
  font-size: 40px;
}
.f-41{
  font-size: 41px;
}
.f-42{
  font-size: 42px;
}
.f-43{
  font-size: 43px;
}
.f-44{
  font-size: 44px;
}
.f-45{
  font-size: 45px;
}
.f-46{
  font-size: 46px;
}
.f-47{
  font-size: 47px;
}
.f-48{
  font-size: 48px;
}
.f-49{
  font-size: 49px;
}
.f-50{
  font-size: 50px;
}
.f-51{
  font-size: 51px;
}
.f-52{
  font-size: 52px;
}
.f-53{
  font-size: 53px;
}
.f-54{
  font-size: 54px;
}
.f-55{
  font-size: 55px;
}
.f-56{
  font-size: 56px;
}
.f-57{
  font-size: 57px;
}
.f-58{
  font-size: 58px;
}
.f-59{
  font-size: 59px;
}
.f-60{
  font-size: 60px;
}
.f-61{
  font-size: 61px;
}
.f-62{
  font-size: 62px;
}
.f-63{
  font-size: 63px;
}
.f-64{
  font-size: 64px;
}
.f-65{
  font-size: 65px;
}
.f-66{
  font-size: 66px;
}
.f-67{
  font-size: 67px;
}
.f-68{
  font-size: 68px;
}
.f-69{
  font-size: 69px;
}
.f-70{
  font-size: 70px;
}
.f-71{
  font-size: 71px;
}
.f-72{
  font-size: 72px;
}
.f-73{
  font-size: 73px;
}
.f-74{
  font-size: 74px;
}
.f-75{
  font-size: 75px;
}
.f-76{
  font-size: 76px;
}
.f-77{
  font-size: 77px;
}
.f-78{
  font-size: 78px;
}
.f-79{
  font-size: 79px;
}
.f-80{
  font-size: 80px;
}
.f-81{
  font-size: 81px;
}
.f-82{
  font-size: 82px;
}
.f-83{
  font-size: 83px;
}
.f-84{
  font-size: 84px;
}
.f-85{
  font-size: 85px;
}
.f-86{
  font-size: 86px;
}
.f-87{
  font-size: 87px;
}
.f-88{
  font-size: 88px;
}
.f-89{
  font-size: 89px;
}
.f-90{
  font-size: 90px;
}
.f-91{
  font-size: 91px;
}
.f-92{
  font-size: 92px;
}
.f-93{
  font-size: 93px;
}
.f-94{
  font-size: 94px;
}
.f-95{
  font-size: 95px;
}
.f-96{
  font-size: 96px;
}
.f-97{
  font-size: 97px;
}
.f-98{
  font-size: 98px;
}
.f-99{
  font-size: 99px;
}
.f-100{
  font-size: 100px;
}


/*===========FLEXBOX==================*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
}
.j-c-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.j-c-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.j-c-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.a-i-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-80 {
  flex-basis: 80%;
}

/* End FLEXBOX */

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}
.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 2rem !important;
}
.ml-3 {
  margin-left: 3rem !important;
}
.ml-4 {
  margin-left: 4rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-4 {
  margin-top: 4rem !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}
.pb-3 {
  padding-bottom: 3rem !important;
}
.pb-4 {
  padding-bottom: 4rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-2 {
  padding-top: 2rem !important;
}
.pt-3 {
  padding-top: 3rem !important;
}
.pt-4 {
  padding-top: 4rem !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-2 {
  padding-left: 2rem !important;
}
.pl-3 {
  padding-left: 3rem !important;
}
.pl-4 {
  padding-left: 4rem !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-2 {
  padding-right: 2rem !important;
}
.pr-3 {
  padding-right: 3rem !important;
}
.pr-4 {
  padding-right: 4rem !important;
}
.btn-group {
  border: none;
  background-color: red;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 10px;
  cursor: pointer;
  float: left;
  height: 100%;
  overflow: hidden;
}
.btn-group i {
    font-size: .8rem;
}
.btn-group {
    border-radius: 3px;
    padding: 0;
}
.btn-danger {
    background-color: #F14340;
}
.btn-info {
    background-color: #23B4F3;
}
.btn-success {
    background-color: #55A854;
}
.btn-primary {
    background-color: #6193c5;
}

.btn-icon {
  display: none;
  background-color: #6193c5;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-left: 9px;
  padding-top: 6px;
  display: block;

}
 .btn-icon:hover {
    background-color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


.btn {
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 0.7rem;
    height: 100%;
    cursor: pointer;
}

.btn-default{
    padding: 10px 0 10px 0;
    text-align: center;
    line-height: 20px;
    background-color: #EE6860;
    letter-spacing: 0.3px;
    color: aliceblue;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer; 
}
.btn-default:hover{
    background-color: #ea564b;
    transition-duration: 300ms;
}
button:focus {
  outline: none;
}

.p-10 {
  padding: 10px !important;
}


.btn-blue{
  background-color: #000203;
  color:#ffffff;
}
.btn-blue:hover{
  color:#ffffff;
  box-shadow: 0px 2px 6px #c4c4c4;
}
.btn:focus{
  border: none;
  outline: none;
}
.btn-red{
  background-color: #FF0000;
  color:#ffffff;
}
.btn-red:hover{
  background-color: #990000;
  color:#ffffff;
}

.bg-blue{
  background-color: #00AEFF;
}
.bg-red{
  background-color: #FF0000;
}
.bg-white{
  background-color: #FFFFFF;
}
.bg-transparent{
  background-color: transparent;
}
.btn-outline-blue{
  border: 1px solid #00AEFF;
}

.text-blue{
  color: #005074;
}

.text-white{
  color:#FFFFFF;
}
.text-grey{
  color:#797979;
}
.text-red{
  color:#FF0000;
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.w-20{
  width: 20%;
}
.w-25{
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35{
  width: 35%;
}
.w-45{
  width: 45%;
}
.w-40{
  width: 40%;
}
.w-50{
  width: 50%;
}
.w-55{
  width: 55%;
}
.w-60{
  width: 60%;
}
.w-65{
  width: 65%;
}
.w-80{
  width: 80%;
}
.w-90{
  width: 90%;
}
.w-100{
  width: 100%;
}

.h-100{
  min-height: 100vh;
}
.h-50 {
  min-height: 50vh;
}
input{
  height:100%;
  border-radius: 0px;
  font-size: 1.2rem;
  line-height: 20px;
  color: #828282;
  padding-left: 15px!important;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  width: 100%;
}

.search-btn {
  border-radius: 0;
}

label{
    font-weight: 700;
}

input:focus{
  border:1px solid #6193c5!important;
  outline: none;
}

input[type="file"]{
    border: none;
}

input::placeholder{
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
}

select{

  height:40px;
  border:1px solid #c4c4c4;
  border-radius: 0px;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  padding-left: 5px!important;
  background-color: #FFFFFF;
}
select:hover{
  border:1px solid #6193c5!important;
  outline: none;
}
.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-capitalize {
  text-transform: capitalize;
}


.text-uppercase {
  text-transform: uppercase;
}

.form-control {
   border: 1px solid #d8e4f1;
   padding:5px;
   resize: none;
   line-height: 1;
   margin-bottom: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 10;
}
.form-group small {
  padding-top: 5px;
}
.party-logo {
    width: 50px;
    height: 50px;
}
 @media screen and (min-width: 768px) {
    
    .form-control {
      padding: 10px;
    }

     .btn-default{
        line-height: 25px;  
    }

    select {
      width: 30vw;
    }
}
}